.Projects {
    background-color: #343d52;
    padding-bottom: 20px;
}

.Projects .ProjectsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 155px;
    box-shadow: 0px 0px 5px 1px #ffffff;
    border-radius: 10px;
}

.Projects .ProjectsContent .Img {
    padding-left: 20px;
}

.Projects .ProjectsContent .Container {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    position: relative;
}

.Projects .ProjectsContent .Container .Link {
    width: 15%;
    position: absolute;
    right: 40px;
    top: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #e57ee8;
    border-radius: 10px;
}

.Projects .ProjectsContent .Container .Link:hover {
    background-color: #9867c5;
    transform: scale(1.1);
}

.Projects .ProjectsContent .Container .gitHubLink {
    text-decoration: none;
    color: #e39ee6;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 15px;
}

.Projects .ProjectsContent .Container .gitHubLink:hover {
    color: #ffffff;
}

.Projects .ProjectsContent .Container p {
    font-size: 18px;
}

@media (max-width: 1200px) {
    .Projects .ProjectsContent .Img {
        width: 95%;
        padding-left: unset;
        padding-top: 5%;
    }
    .Projects .ProjectsContent {
        flex-direction: column;
        width: 85%;
        height: 450px;
        margin-bottom: 8%;
        margin-left: 4%;
        padding: 1%;
        box-shadow: 0px 0px 5px 1px #ffffff;
        border-radius: 10px;
    }
    .Projects .ProjectsContent .Container {
        width: 90%;
        padding-left: 1px;
    }
    .Projects .ProjectsContent .Container .Link {
        width: 18%;
        position: absolute;
        right: 5%;
        top: 22%;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 600;
    }
    .Projects .ProjectsContent .Container p {
        margin-top: 10%;
    }
    .Projects .ProjectsContent .Container .gitHubLink {
        font-size: 14px;
    }
}
