.Skills {
    /* background: linear-gradient(90deg, rgba(133,92,133,1) 0%, rgba(52,61,82,1) 100%); */
    background: linear-gradient(90deg, rgba(229,126,232,1) 0%, rgba(52,61,82,1) 100%);
    padding-bottom: 4%;
}

.Skills p {
    font-weight: 600;
    width: 50%;
    margin-left: 34%;
    padding-bottom: 1%;
}

.Skills .List ul {
    color: #ffffff;
    list-style-type: none;
}

.Skills .List ul li {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.Skills .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.Skills .Container img {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

.Skills .Container .List {
    flex-basis: 33%;
    box-shadow: 0 0 12px 4px #ffffff;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
}
