.Skills {
    /* background-color: #485063; */

    background: linear-gradient(90deg, rgba(229,126,232,1) 4%, rgba(52,61,70,1) 52%);
    padding-bottom: 4%;
}

.Skills p {
    font-weight: 600;
    width: 50%;
    margin-left: 34%;
    padding-bottom: 1%;
}

.Skills .List ul {
    color: #ffffff;
    list-style-type: none;
}

.Skills .List ul li {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.Skills .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.Skills .Container .List {
    flex-basis: 33%;
    box-shadow: 0 0 12px 4px #ffffff;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
}
