.AboutMe {
    background-color: #343d52;
    padding-bottom: 3%;
}

.AboutMe .Container {
    display: flex;
    flex-direction: row;
}

.AboutMe .Container .Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
    margin-left: 10%;
}

.AboutMe .Container .Text h2 {
    font-size: 36px;
}

.AboutMe .Container .Photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutMe .Container .Photo .Me {
    height: 600px;
    width: 400px;
    border-radius: 10%;
}

@media (max-width: 1200px) {
    .AboutMe {
        padding-bottom: 8%;
    }
    .AboutMe .Container {
        flex-direction: column;
    }
    .AboutMe .Container .Text {
        width: 80%;
    }
    .AboutMe .Container .Photo {
        width: 70%;
        margin-left: 10%;
    }
    .AboutMe .Container .Photo .Me {
        height: 400px;
        width: 500px;
    }
    .AboutMe .Container .Text h2 {
        font-size: 28px;
    }
}
