.Container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.Container hr {
    position: absolute;
    left: 0;
    width: 150px;
    border: 1px solid #e57ee8;
    background-color: #e57ee8;
}

.Container h1 {
    color: #e57ee8;
}

.Container h1:hover {
    color: #ffffff;
}

@media (max-width: 1200px) {
    .Container hr {
        width: 35px;
    }
}
