.Home {
    background: linear-gradient(180deg, rgba(52, 61, 82, 1) 0%, rgba(229, 126, 232, 1) 100%);
    /* background-color: #74cdc0; */
    display: flex;
    height: 630px;
    padding-top: 100px;
    position: relative;
}

.Home .Container {
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
}

.Home .Main {
    position: absolute;
    height: 100%;
    top: -5%;
    left: 35%;
}

.Home a {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 20px;
}

.Home .Icon {
    position: absolute;
    height: 30%;
    left: 3%;
    top: 70%;
}

@media (max-width: 1200px) {
    .Home {
        padding-top: 60px;
        position: relative;
    }
    .Home .Container {
        padding-top: unset;
    }
    .Home .Main {
        width: 100%;
        top: 5%;
        left: -3%;
    }
}
