.Home {
    /* background: linear-gradient(180deg, rgba(52,61,82,1) 22%, rgba(133,92,133,1) 100%); */
    background: linear-gradient(180deg, rgba(52,61,82,1) 0%, rgba(229,126,232,1) 100%);
    display: flex;
    height: 630px;
    padding-top: 100px;
    position: relative;
}

.Home .Container {
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
}

.Home .Container h1 {
    color: #e57ee8;
    position: absolute;
    z-index: 999;
    left: 800px;
}

.Home .Main {
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 45%;
    top: 5%; */
    top: -3%;
}

.Home a {
    position:absolute;
    top: 90%;
     left: 50%;
     width: 20px;
}

.Home .Icon {
    position: absolute;
    height: 30%;
    left: 3%;
    top: 70%;
}
