.Home {
    background: linear-gradient(180deg, rgba(52, 61, 82, 1) 0%, rgba(229, 126, 232, 1) 100%);
    display: flex;
    height: 630px;
    padding-top: 100px;
    position: relative;
}

.Home .Container {
    padding-top: 7%;
    padding-left: 10%;
    position: relative;
}

.Home .Main {
    position: absolute;
    height: 100%;
    top: 5%;
    left: 50%;
}

.Home .Text {
    font-size: 37px;
    color: #f5babf;
}

.Home .Wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Home h2 {
    font-size: 40px;
    padding-bottom: 10%;
    color: #f5babf;
}

.Home a {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 20px;
}

.Home .Icon {
    position: absolute;
    height: 30%;
    left: 3%;
    top: 70%;
}

@media (max-width: 1200px) {
    .Home {
        padding-top: 60px;
        position: relative;
    }
    .Home .Container {
        padding-top: unset;
        padding-left: 6%;
    }
    .Home .Main {
        width: 100%;
        top: 23%;
        left: -3%;
    }
    .Home h2 {
        font-size: 30px;
        padding-bottom: 6%;
    }
}
