.Contact {
    background: linear-gradient(180deg, rgba(52, 61, 82, 1) 0%, rgba(229, 126, 232, 1) 100%);
}

.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Contact .ContactIcons svg path {
    cursor: pointer;
}

.Contact .FormContainer {
    display: flex;
    justify-content: center;
}

.Contact .Form {
    width: 40%;
}

.Contact .Form textarea {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 90px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    padding: 12px;
    box-shadow: 0 6px 6px -6px #ffffff;
}

.Contact .Form .Btn {
    width: 30%;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 35%;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    letter-spacing: 2px;
    background: linear-gradient(90deg, rgba(229,126,232,1) 0%, rgba(82,52,64,1) 55%);

    background: linear-gradient(180deg, rgba(229,126,232,1) 0%, rgba(15,5,0,1) 64%);
}

.Contact .Form .Btn:hover {
    background: linear-gradient(180deg, rgba(15,5,0,1) 21%, rgba(229,126,232,1) 100%);
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .Contact .Form {
        width: 70%;
    }
    .Contact .Form .Btn {
        margin-bottom: 50px;
    }
}
