.NavBar {
    background-color: #343d52;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar nav ul li {
    display: inline-block;
    margin: 60px;
}

.NavBar nav ul li a {
    text-decoration: none;
}

.NavBar a:hover {
    color: #e57ee8;
}

@media (max-width: 1200px) {
    .NavBar {
        height: 80px;
        position: unset;
        justify-content: start;
        padding-left: 3%;
    }
    .NavBar nav ul li {
        margin: 5px;
    }
}
