.NavBar {
    background-color: #343d52;
    width: 100%;
    height: 85px;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar nav ul li {
    display: inline-block;
    margin: 70px;
}

.NavBar nav ul li a {
    text-decoration: none;
    padding: 3px;
}

.NavBar nav ul li a:hover {
    box-shadow: 0 0 4px rgba(251, 227, 229, 1), 0 0 7px rgba(251, 227, 229, 1), 0 0 10px rgba(251, 227, 229, 1),
        0 0 0 13px rgba(251, 227, 229, 0.05), 0 0 0 16px rgba(251, 227, 229, 0.05), 0 0 0 19px rgba(251, 227, 229, 0.05),
        0 0 0 21px rgba(251, 227, 229, 0.05), 0 0 0 23px rgba(251, 227, 229, 0.05);
}

.NavBar nav ul li .GitHubBtn {
    width: 200%;
    border-radius: 7px;
    border: none;
    background-color: rgb(202, 96, 206);
}

.NavBar nav ul li .GitHubBtn:hover {
    background-color: rgb(173, 68, 177);
}

@media (max-width: 1200px) {
    .NavBar {
        width: 97%;
        padding-left: 3%;
        position: unset;
        justify-content: start;
    }
    .NavBar nav ul li {
        margin: 8px;
    }
    .NavBar nav ul li .GitHubBtn {
        width: 150%;
    }
    .NavBar nav ul li a:hover {
        box-shadow: 0 0 2px rgba(251, 227, 229, 1), 0 0 4px rgba(251, 227, 229, 1), 0 0 6px rgba(251, 227, 229, 1),
            0 0 0 8px rgba(251, 227, 229, 0.05), 0 0 0 10px rgba(251, 227, 229, 0.05),
            0 0 0 12px rgba(251, 227, 229, 0.05), 0 0 0 14px rgba(251, 227, 229, 0.05),
            0 0 0 16px rgba(251, 227, 229, 0.05);
    }
}
