body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}

p {
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
}

a {
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
}
