body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 800;
  font-size: 45px;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
}

p {
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
}

a {
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
